<h1>{{title}} Task</h1>

<hr>
<form [formGroup] = "taskDetailForm" (ngSubmit) = "save()" novalidate>
  <div class="form-group row">
      <label for="" class="col-md-12">Task:</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="TaskName">
        </div>
        <div class="col-md-6">
             <div class="error" *ngIf="TaskName.invalid && (TaskName.dirty || submitted)">
                <div *ngIf="TaskName.errors.required">
                   Task Name is required
                </div>                
            </div>
        </div>
  </div>
  <div class="form-group row">
      <label for="" class="col-md-12">Priority:</label>
        <div class="col-md-4">
            <input type="range" class="form-control" min=1 max=30 step=1
                   formControlName="Priority">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="Priority.invalid && (Priority.dirty || submitted)">
                <div *ngIf="Priority.errors.required">
                   Priority is required
                </div>                
            </div>
        </div>
  </div>
  <div class="form-group row">
      <label for="" class="col-md-12">Parent Task:</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="ParentTaskName">
        </div>
        <div class="col-md-6"></div>
  </div>
   <div class="form-group row">
      <label for="" class="col-md-12">Start Date:</label>
        <div class="col-md-4">
            <input type="date" class="form-control"
                   formControlName="StartDate">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="StartDate.invalid && (StartDate.dirty || submitted)">
                <div *ngIf="StartDate.errors.required">
                   Start Date is required
                </div>                
            </div>
        </div>
  </div>

  <div class="form-group row">
      <label for="" class="col-md-12">End Date:</label>
        <div class="col-md-4">
            <input type="date" class="form-control"
                   formControlName="EndDate">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="EndDate.invalid && (EndDate.dirty || submitted)">
                <div *ngIf="EndDate.errors.required">
                   End Date is required
                </div>                
            </div>
        </div>
  </div>

  

  <div class="form-group row">
      <div class="col-md-12" style="padding-left: 10%">
          <button type="submit" [disabled] = "isEnableOrDisable"  class="btn btn-primary">Save</button>
         <!--<input type="submit" disabled="isEnableOrDisable"
                class="btn btn-primary" 
                value="Save" />-->
         <input type="button" style="margin-left :5px" 
                class="btn btn-warning" 
                value="Cancel"
                (click)="cancel()">
        <button type="reset" [disabled] = "isEnableOrDisable" style="margin-left :5px" (click)="onReset()"  class="btn btn-primary">reset</button>
      </div>

    </div>


</form>
